@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background-card: #ffffff;
  --background-alt: #f9fafb;
  --foreground: #000000;
  --border: #e5e7eb;
  --text-primary: #111827;
  --text-secondary: #6b7280;
  --primary: #4F46E5;
  --primary-dark: #4338CA;
  --primary-light: #6366F1;
  --error: #ef4444;
}

@layer base {
  body {
    @apply bg-background text-foreground font-inter antialiased;
  }
} 